{% extends 'base.html.twig' %}

{% block title %} Nos propriétés {% endblock %}

{% block body %}
    <div class="container">
        <div class="main mt-2">
            <h1>Nos propriétés</h1>
        </div>
    </div>
{% endblock %}