{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Bienvenue dans la firstAgence !!</h1>
    </div>
    <div class="container mt-2">
        <div class="main">
            <h2>Les derniers biens</h2>
            <div class="row flex">
                {{ include('/pages/_proprietesCards.html.twig')}}
            </div>
        </div>
    </div>
{% endblock %}