{% extends 'base.html.twig' %}

{% block title %} Ajout d'une propriété {% endblock %}

{% block body %}
    <div class="container">
        <div class="main mt-2">
            <h1>Création de la propriété </h1>
            {{ include('pages/admin/_formTemplate.html.twig')}}
        </div>
    </div>
{% endblock %}