{% extends 'base.html.twig' %}

{% block title %}Ajout d'une option{% endblock %}

{% block body %}
    <div class="container">
        <div class="main mt-2">
            <h1>Ajout d'option</h1>
            {{ include('pages/admin/_formOptionTemplate.html.twig')}}
        </div>
    </div>
{% endblock %}
